doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title comments
    body 
    h2 comments 
    a(href="https://pugjs.org/language/comments.html" target="_blank") Pug > comments
    p
     u Konsoldan inceleye bilirsin

    // Klasik Html yorum satırı
    p // diyerek  Html yorum satırı 

    //- HTML'de görünmeyen yorum satırı
    p html'de görünmeyen yotum satırı için //- demek yeterli

    P blok yorum satırı
    //  Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.