doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Include
    body 
        h2 Include 
        a(href="https://pugjs.org/language/includes.html" target="_blank") Pug > Include
        include include/nav
        p 
           mark include işlemi uygulacağı zaman .pug yazılmaz