<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attiribute</title>
  </head>
  <body> </body>
  <h2>Attiribute</h2><a href="https://www.google.com">Google </a><a href="https://www.google.com" target="_blank">Google </a>
  <h2>Multiple Attiribute</h2>
  <input type="text" name="username" value="@serdargoleli" placeholder="username">
  <h2>Attiribute Interpolation </h2>
  <p>Özniteliğinize değişkenler eklemek için kullanabileceğiniz bazı alternatifler şunlardır:</p><a href="serdargoleli.github.io"> serdargoleli.github.io</a>
  <h2>Unescaped Attributes  </h2>
  <p>Özel karakterlerden kaçış için kullanılır</p>
  <div escaped="&lt;code&gt;"></div>
  <div unescaped="<code>"></div>
  <h2>Boolean Attributes</h2>
  <input type="checkbox">
  <input type="checkbox" checked="check">
  <input type="checkbox">
  <h2>Class Attributes</h2><span class="foo bar baz">class Test</span><br><a class="bang foo bar baz new class">class=classes class=['new class'] </a><br>
  <h2>Active Class</h2><a href="/">Home</a>
  <a class="active" href="/attiribute">About</a>
  <h2>CLASS and ID Literal</h2>
  <div id="content">content id</div>
  <div class="content">content class</div>
</html>