<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code</title>
  </head>
  <body> 
    <h2>Code </h2><a href="https://pugjs.org/language/code.html" target="_blank">Pug > code</a>
    <h2>Unbuffered Code  </h2>
    <li>item 0</li>
    <li>item 1</li>
    <li>item 2</li>
    <hr>
    <li>Uno</li>
    <li>Dos</li>
    <li>Tres</li>
    <li>Cuatro</li>
    <li>Cinco</li>
    <li>Seis</li>
    <hr>
    <h2>Buffered Code  </h2>
    <p>Güvenlik için, arabelleğe alınan kod, ilk HTML çıkışlıdır.</p>
    <hr>
    <p>eğer p = ... aynı hizada olduğu zaman escaped'i html tagleri olarak algılıyor. ya bir alt satırda olmalı yada = p ile bitişik olmalı</p>
    <p>This code is &lt;escaped&gt;!
    </p>
    <p>This code is &lt;escaped&gt;!</p>
    <hr>
    <p>This code is <mark>not</mark> escaped!</p>
  </body>
</html>