<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comments</title>
  </head>
  <body> 
    <h2>comments </h2><a href="https://pugjs.org/language/comments.html" target="_blank">Pug > comments</a>
    <p>
      <u>Konsoldan inceleye bilirsin</u>
    </p>
    <!-- Klasik Html yorum satırı-->
    <p>// diyerek  Html yorum satırı </p>
    <p>html'de görünmeyen yotum satırı için //- demek yeterli</p>
    <P>blok yorum satırı</P>
    <!--  Lorem ipsum dolor sit amet,
    consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua.
    -->
  </body>
</html>