<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Include</title>
  </head>
  <body> 
    <h2>Include </h2><a href="https://pugjs.org/language/includes.html" target="_blank">Pug > Include</a>
    <header> 
      <h1>Include Page</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </header>
    <p> 
      <mark>include işlemi uygulacağı zaman .pug yazılmaz</mark>
    </p>
  </body>
</html>