
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Interpolition</title>
  </head>
  <body> 
    <h2>Interpolition </h2><a href="https://pugjs.org/language/interpolation.html" target="_blank">Pug > interpolation</a>
    <hr/>
    <p>Değişkenlerimizi html içerisinde kullanmamıza olanak sağlar kullanım şekli #{degisken_adi} şeklindedir.</p>
    <h1>Interpolition Kullanımı   #{degisken_adi}</h1>
    <hr/>
    <p>büyük harfle yazmak istersek: #{degisken_adi.toUpperCase()}</p>
    <p>INTERPOLITION KULLANIMI;</p>
    <hr/>
    <p>kaçış işareti \ olarak kullanılır.</p>
    <hr/>
    <div class="quote">
      <p>Joel: <em>Some of the girls are wearing my mother's clothing.</em></p>
    </div>
    <hr/>
    <p>
      This is a very long and boring paragraph that spans multiple lines.
      Suddenly there is a <strong>strongly worded phrase</strong> that cannot be
      <em>ignored</em>.
    </p>
    <hr/>
    <p>If I don't write the paragraph with tag interpolation, tags like<strong>strong</strong>and<em>em</em>might produce unexpected results.</p>
  </body>
</html>