
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>mixins</title>
  </head>
  <body> 
    <h2>mixins </h2><a href="https://pugjs.org/language/mixins.html" target="_blank">Pug > mixins</a>
    <hr/>
    <h2>mixins </h2>
    <p>Mixin'ler, yeniden kullanılabilir Pug blokları oluşturmanıza olanak tanır.</p>
        <ul>
          <li>foo</li>
          <li>bar</li>
          <li>baz</li>
        </ul>
        <ul>
          <li>foo</li>
          <li>bar</li>
          <li>baz</li>
        </ul>
    <hr/>
    <ul>
          <li class="pet">cat</li>
          <li class="pet">dog</li>
          <li class="pet">pig</li>
    </ul>
    <hr/>
    <h2>Mixin Blocks</h2>
        <div class="article">
          <div class="article-wrapper"> 
            <h4>title</h4>
            <p>No Content Provider</p>
          </div>
        </div>
    <hr/>
        <div class="article">
          <div class="article-wrapper"> 
            <h4>title</h4>  
            <p>This is my</p>
            <p>Amazing article</p>
          </div>
        </div>
    <hr/>
    <h2>Rest Arguments</h2>
        <ul id="my-list">
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
        </ul>
  </body>
</html>